*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 500px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0.3);
    text-align: center;

    padding: 10px;
}

.imgbox{
    width: 100%;
}

label img{
    width: 200px;
    height: 200px;

    object-fit: cover;
}

label img:hover{
    opacity: 0.8;
    filter: blur(1.5px)
}

.btn{
    width: 100%;
    background-color: steelblue;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;

    padding: 20px;

    cursor: pointer;
}

.btn:hover{
    background-color: darkblue;
}

.answer:checked + label img{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    transform: scale(1.1);
}




