*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background-color: #f4f4f4;
	height:100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form-control,.btn{
	padding: 10px;
}

.gameform span{
	display: block;
	margin-top: 5px;
}

.mic-btn{
	margin: 10px 0;
}