*{
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: grid;
    place-items: center;
}

.container{
    border: 1px solid #ccc;
    border-radius: 5px;

    padding: 10px;
}

.form-control{
    width: 100%;
    border: 1px solid #ccc;

    padding: 10px 20px;
    margin-bottom: 10px;
}

.form-control:foucs{
    outline: none;
}

.btn{
    width: 48%;
    background-color: steelblue;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;

    padding: 10px;
    margin-bottom: 10px;
}

.btn:focus{
    outline: none;
    opacity: .9;
}

.list-group{
    height: 500px;
    list-style-type: none;

    padding: 0;
    margin: 0;

    overflow-y: scroll;
}

.list-group li a{
    background-color: #f6f6f6;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ddd;

    display: block;

    padding: 16px;
    margin-top: -1px;
}

.list-group li a:hover{
    background-color: #f1f1f1;
}



