:root{
    --color1: linear-gradient(
        to right,
        steelblue,
        skyblue
    );

    --color2: linear-gradient(
        to top,
        steelblue,
        skyblue
    );

    --color3: linear-gradient(
        to left,
        steelblue,
        skyblue
    );
}

body{
    /* height: 100vh; */

    display: grid;
    place-items: center;
}

.toggle-container{
    display: flex;
    justify-content: center;
}

.toggle-checkbox{
    visibility: hidden;
}

.toggle-label{
    width: 40px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50px;
    margin: 0 15px;

    cursor: pointer;

    position: relative;
}

.toggle-checkbox:checked + .toggle-label{
    background-color: steelblue;
}

.toggle-checkbox:checked + .toggle-label .ball{
    animation: onani .3s linear forwards;
}

@keyframes onani{
    0%{
        transform: translate(0px) scale(1);
    }

    50%{
        transform: translate(10.5px) scale(1.2);
    }

    100%{
        transform: translate(21px) scale(1);
    }
}

@keyframes offani{
    0%{
        transform: translate(21px) scale(1);
    }

    50%{
        transform: translate(10.5px) scale(1.2);
    }

    100%{
        transform: translate(0px) scale(1);
    }
}

.toggle-label .ball{
    width: 15px;
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 50%;

    position: absolute;
    left: 2px;
    top: 2.5px;

    animation: offani .3s linear forwards;
}

.title{
    margin-bottom: 30px;
}

h2{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    
    /* margin-bottom: 1rem; */
}

.price-container{
    width: 100%;

    display: flex;
}

.price-box{
    width: 400px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);

    padding: 15px 0;
}

.box{
    color: #fff;
    padding: 20px 0;
}

.box1,.btn1{
    background: var(--color1);
}

.box2,.btn2{
    background: var(--color2);
}

.box3,.btn3{
    background: var(--color3);
}

.price-box p{
    font-size: 20px;
    background-color: steelblue;

    padding: 15px 0;
}

.price-box h3 span{
    font-size: 30px;
    vertical-align: middle;
}

.price-box h3 span:nth-of-type(2){
    font-size: 50px;
}

.price-list .list-group{
    list-style-type: none;

    padding: 0;
    margin: 0;

    margin-bottom: 30px;
}

.price-list .list-group .list-group-item{
    font-size: 1rem;
    border-bottom: 1px solid #ddd;

    padding: 15px 0;
}

.price-list .list-group .list-group-item:first-child{
    border-top: 1px solid #ddd;
}

.price-list .btn{
    text-decoration: none;
    background-color: green;
    color: #fff;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 5px;

    transition: font-size .3s ease-in;
}

.price-list .btn:hover{
    font-size: 20px;
}

.price-box:nth-of-type(2){
    transform: scale(1.1);
}
