*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif; 
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;
}

.controls{
    width: 60%;
    background-color: #222;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 0px;
}

.ctrl-btn{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;

    cursor: pointer;

    margin: 0px 5px;
}

.progress{
    width: 70%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;

    margin-right: 5px;
}

.progress-bar{
    width: 0%;
    height: 100%;
    background-color: steelblue;
    border-radius: 5px;
}

.ctrl-btn .fa-play{
    color: steelblue;
}

.ctrl-btn .fa-stop{
    color: tomato;
}

.openfullscreen,.closefullscreen{
    cursor: pointer;
}

.closefullscreen{
    display: none;
}

.displaytime{
    padding-left: 10px;
}

.panel{
    background-color: #000;
    color: #fff;

    position: absolute;
    left: 20%;
    top: 50%;

    padding: 0 30px;

    transition: all .5s ease-out;

    z-index: -1;
}

.container:hover .panel{
    top: 100%;
}












