*{
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: grid;
    place-items: center;
}

.container{
    border: 1px solid #777;
    border-radius: 5px;

    padding: 10px;
}

.container h3{
    color: #777;
    font-size: 16px;
    border-bottom: 1px dashed #777;
    line-height: 70px;

    padding: 0;
    margin: 0;

    opacity: 0.8;
}

small{
    color: #777;
    text-align: center;
    display: block;

    margin-top: 20px;
}

#form{
    width: 400px;
    margin-top: 20px;
}

.form-control{
    width: 100%;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid orange;

    padding: 10px;
}

.form-control:focus{
    outline: none;
    border-bottom: 2px solid blue;
}

.form-control::placeholder{
    color: #d5d5d5;
}

.list-group{
    height: 200px;
    list-style-type: none;

    overflow-y: scroll;

    padding: 0;
    margin: 0;
}

.list-group li{
    background-color: #f6f6f6;
    font-size: 15px;
    border: 1px solid #ddd;

    padding: 10px;
    margin-top: -1px;
}

.list-group li.completed{
    color: #777;
    font-style: italic;
    text-decoration: line-through;
}

.list-group li.completed:hover{
    background-color: #f1f1f1;
}

.list-group li.completed::after{
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';

    float: right;
}
